html
	@extend %fonts__copy
	background: nth($primary, 2)
	color: nth($tint, 2)

body
	margin: .5rem

main
	+breakpoint($break)

ul
	display: flex
	flex-direction: column
	justify-content: space-between
	+breakpoint($break)
		display: block
		flex-direction: row
		flex-wrap: wrap
